<a href="https://colab.research.google.com/github/RubenSicchar/Lab-de-Ci-ncia-de-Dados-com-Python-e-Pandas/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

**Séries**

In [4]:
s = pd.Series ([10, 20, 30, 40, 50])

Impressão da série

In [5]:
print (s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Acessar a um elemento

In [6]:
print (s[2])

30

Criação de uma Series com valores iguais

In [7]:
pd.Series (9.7, range(4))

0    9.7
1    9.7
2    9.7
3    9.7
dtype: float64

Estatísticas para uma Series
Funções:

*   count
*   mean
*   min
*   max
1.  std

Exemplos:

In [8]:
print (s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
s.count()

5

In [10]:
s.mean()

30.0

In [11]:
s.min()

10

In [12]:
s.max()

50

In [13]:
s.std()

15.811388300841896

As funções de estatística podem ser resumidas com describe()

In [14]:
s.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

Criação de índices customizados

**DataFrame**

Exemplo 1:

In [16]:
dic1 = {'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'SIGLA': ['AM', 'AP', 'AC'], 'CAPITAL': ['Manaus', 'Macapá', 'Rio Branco']}

In [17]:
pd.DataFrame(dic1)

     ESTADO SIGLA     CAPITAL
0  Amazonas    AM      Manaus
1     Amapá    AP      Macapá
2      Acre    AC  Rio Branco

Exemplo 2:

In [18]:
pd.DataFrame({'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'POPULACAO': ['4144597', '845731', '881935']})

     ESTADO POPULACAO
0  Amazonas   4144597
1     Amapá    845731
2      Acre    881935

Construtor DataFrame

Exemplo

In [19]:
dic2 = pd.DataFrame({'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 
              'POPULACAO': ['4144597', '845731', '881935']},
             index=['AM', 'AP', 'AC'])

In [20]:
dic2

      ESTADO POPULACAO
AM  Amazonas   4144597
AP     Amapá    845731
AC      Acre    881935

Acessando elementos do DataFrame

Exemplo 1:

In [21]:
dic2['ESTADO']

AM    Amazonas
AP       Amapá
AC        Acre
Name: ESTADO, dtype: object

Exemplo 2:

In [22]:
dic2.ESTADO

AM    Amazonas
AP       Amapá
AC        Acre
Name: ESTADO, dtype: object

Seria possível criar um DataFrame com quantidades de linhas diferentes por coluna?

In [ ]:
pd.DataFrame({'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'POPULACAO': ['4144597', '881935']})

**Leitura de arquivos**

Leitura de arquivos CSV em Pandas como um DataFrame:

Exemplo:

In [26]:
dados = pd.read_csv("http://tiagodemelo.info/datasets/dados-curso.csv")

Atributo shape

Exemplo:

In [27]:
dados.shape

(500, 9)

Comando head

Exemplo:

In [28]:
dados.head()

                  data  ...  longitude
0  2020-05-23 00:21:14  ... -22.522600
1  2020-03-22 22:57:51  ... -23.606067
2  2020-04-14 00:11:33  ...  38.747518
3  2020-05-25 20:45:43  ... -23.550000
4  2020-04-15 10:34:39  ... -23.975947

[5 rows x 9 columns]

**Manipulação de dados**

In [29]:
dados

                    data  ...  longitude
0    2020-05-23 00:21:14  ... -22.522600
1    2020-03-22 22:57:51  ... -23.606067
2    2020-04-14 00:11:33  ...  38.747518
3    2020-05-25 20:45:43  ... -23.550000
4    2020-04-15 10:34:39  ... -23.975947
..                   ...  ...        ...
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
497  2020-03-18 05:28:16  ...  43.648000
498  2020-03-03 21:27:11  ... -23.550000
499  2020-01-21 13:18:03  ...  38.747518

[500 rows x 9 columns]

As propriedades de um objeto podem ser acessadas como um atributo:

Exemplo 1:

In [30]:
dados.lugar

0      Rio das Ostras
1           Sao Paulo
2              Lisbon
3           Sao Paulo
4              Santos
            ...
495        Rio Branco
496    Rio de Janeiro
497           Toronto
498         Sao Paulo
499            Lisbon
Name: lugar, Length: 500, dtype: object

Exemplo 2:

In [31]:
dados['lugar']

0      Rio das Ostras
1           Sao Paulo
2              Lisbon
3           Sao Paulo
4              Santos
            ...
495        Rio Branco
496    Rio de Janeiro
497           Toronto
498         Sao Paulo
499            Lisbon
Name: lugar, Length: 500, dtype: object

Exemplo 3:

In [32]:
dados['lugar'][0]

'Rio das Ostras'

**Indexação em Pandas**

Seleção baseada em índices
Seleção de dados baseada na posição numérica dos dados.

Selecionar a primeira linha
Exemplo 1:

In [33]:
dados.iloc[101]

data                                       2020-03-03 00:43:28
texto        A Intelprise alerta os folioes pos-carnavalesc...
retweet                                                      0
idioma                                                      pt
lugar                                        North Miami Beach
pais                                             United States
sigla                                                       US
latitude                                              -80.1637
longitude                                              25.9466
Name: 101, dtype: object

Exemplo 2:

In [34]:
dados.iloc[:,7]

0     -41.937900
1     -46.674739
2      -9.099043
3     -46.633300
4     -46.293700
         ...
495   -67.859657
496   -43.358100
497   -79.387200
498   -46.633300
499    -9.099043
Name: latitude, Length: 500, dtype: float64

Exemplo 3:

In [35]:
dados.iloc[-5:]

                    data  ...  longitude
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
497  2020-03-18 05:28:16  ...  43.648000
498  2020-03-03 21:27:11  ... -23.550000
499  2020-01-21 13:18:03  ...  38.747518

[5 rows x 9 columns]

In [38]:
dados.iloc[-10:-4]

                    data  ...  longitude
490  2020-04-16 19:29:12  ...  51.514100
491  2020-04-16 05:34:04  ...  38.747518
492  2020-05-25 14:43:25  ...  -8.286753
493  2020-04-08 23:40:59  ... -25.297434
494  2020-04-14 12:06:38  ... -23.540780
495  2020-04-07 16:14:13  ...  -9.932246

[6 rows x 9 columns]

Exemplo 5:

In [36]:
dados.loc[499, 'pais']

'Portugal'

**Manipulação de índices**

Exemplo:

In [37]:
dados.set_index('pais')

                         data  ...  longitude
pais                           ...
Brazil    2020-05-23 00:21:14  ... -22.522600
Brazil    2020-03-22 22:57:51  ... -23.606067
Portugal  2020-04-14 00:11:33  ...  38.747518
Brazil    2020-05-25 20:45:43  ... -23.550000
Brazil    2020-04-15 10:34:39  ... -23.975947
...                       ...  ...        ...
Brazil    2020-04-07 16:14:13  ...  -9.932246
Brazil    2020-03-26 18:02:28  ... -22.942800
Canada    2020-03-18 05:28:16  ...  43.648000
Brazil    2020-03-03 21:27:11  ... -23.550000
Portugal  2020-01-21 13:18:03  ...  38.747518

[500 rows x 8 columns]

**Seleção condicional**

É possível consultar os dados de acordo com algum critério (condição)

Exemplo:

In [39]:
dados.sigla == 'BR'

0       True
1       True
2      False
3       True
4       True
       ...
495     True
496     True
497    False
498     True
499    False
Name: sigla, Length: 500, dtype: bool

Essa operação pode ser usado em combinação loc

In [40]:
dados.loc[dados.sigla == 'BR']

                    data  ...  longitude
0    2020-05-23 00:21:14  ... -22.522600
1    2020-03-22 22:57:51  ... -23.606067
3    2020-05-25 20:45:43  ... -23.550000
4    2020-04-15 10:34:39  ... -23.975947
7    2020-03-22 19:12:37  ... -22.961900
..                   ...  ...        ...
493  2020-04-08 23:40:59  ... -25.297434
494  2020-04-14 12:06:38  ... -23.540780
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
498  2020-03-03 21:27:11  ... -23.550000

[392 rows x 9 columns]

**Funções de Sumário (Summary)**

describe() é a função que apresenta um conjunto de estatísticas sobre um determinado campo (coluna).

Exemplo 1:

In [41]:
dados.retweet.describe()

count    500.000000
mean       0.172000
std        0.508855
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        4.000000
Name: retweet, dtype: float64

A função describe() ainda pode ser utilizada para campos não numéricos

Exemplo 1:

In [42]:
dados.sigla.describe()

count     499
unique     21
top        BR
freq      392
Name: sigla, dtype: object

Exemplo 2:

In [43]:
dados.data.describe()

count                     500
unique                    500
top       2020-05-16 22:22:39
freq                        1
Name: data, dtype: object

É possível ainda usar uma função de estatística específica para um determinado campo

In [44]:
dados.retweet.mean()

0.172

A função unique() apresenta os valores únicos

In [45]:
dados.sigla.unique()

array(['BR', 'PT', 'VA', 'CA', 'US', 'ID', 'ES', 'AU', 'MX', 'NL', 'CH',
       'NZ', 'CW', 'IT', 'IN', 'DO', 'EC', 'CN', nan, 'FR', 'MZ', 'GB'],
      dtype=object)

Exemplo:

In [46]:
dados.sigla.value_counts()

BR    392
PT     67
US     11
CA      6
ES      3
NZ      2
AU      2
FR      2
IT      2
MX      1
ID      1
EC      1
GB      1
IN      1
CN      1
CH      1
DO      1
CW      1
MZ      1
VA      1
NL      1
Name: sigla, dtype: int64

**Agrupamento de dados**

Função groupby()

Exemplo 1:

In [47]:
dados.groupby('sigla')

Exemplo 2:

In [48]:
dados.groupby('sigla').sigla

Exemplo 3:

In [49]:
dados.groupby('sigla').sigla.count()

sigla
AU      2
BR    392
CA      6
CH      1
CN      1
CW      1
DO      1
EC      1
ES      3
FR      2
GB      1
ID      1
IN      1
IT      2
MX      1
MZ      1
NL      1
NZ      2
PT     67
US     11
VA      1
Name: sigla, dtype: int64

A função groupby pode ainda ser usada para exibir outro campo

In [50]:
dados.groupby('sigla').retweet.max()

sigla
AU    1
BR    3
CA    2
CH    0
CN    0
CW    0
DO    0
EC    0
ES    0
FR    0
GB    1
ID    0
IN    0
IT    0
MX    0
MZ    0
NL    0
NZ    0
PT    4
US    2
VA    0
Name: retweet, dtype: int64

**Ordenação de dados**